{% extends 'vista_adm.html' %}
{% block body %}


<section class="page-section  p-5">
  <div class="container "  >
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 bg-white p-5 form1">  
          <form action="/actproducto" method="POST">       
              <div class="mb-4 ml-3">
              <h4>Actualización de Usuario</h4>
              </div>
              <div >            
                <div class="">
                <input id="nombre" name="nombre" type="text" placeholder="Nombres"  class="form-control input-md" required="">
                </div>
              </div>
              
              
              <div class="form-group">
                <br>
                <div class="">
                <input id="apellido" name="apellido" type="text" placeholder="Apellidos"  class="form-control input-md" required="">
                  
                </div>
              </div>
              
              
              <div class="form-group">
                <div class="">
                <input id="ident" name="cedula" type="number" placeholder="Identificacion"  class="form-control input-md" required="">
                  
                </div>
              </div>
              
              
              <div class="form-group">
                
                <div class="">
                <input id="correo" name="correo" type="email" placeholder="Correo" class="form-control input-md" required="">
                  
                </div>
              </div>
              
              
              <div class="form-group">
                
                <div class="">
                <input id="direccion" name="direccion" type="text" placeholder="Direccion"  class="form-control input-md" required="">
                  
                </div>
              </div>
              
              
              <div class="form-group">
                
                <div class="">
                <input id="celular" name="telefono" type="text" placeholder="Celular" class="form-control input-md" required="">
                  
                </div>
              </div>
              
              
             
              <div class="form-group">
                
                <div class="">
                <div class="radio">
                  <label for="estado-0">
                    <input type="radio" name="estado" id="estado-0" value="1" checked="checked" >
                    Activo
                  </label>
                  </div>
                <div class="radio">
                  <label for="estado-1">
                    <input type="radio" name="estado" id="estado-1" value="2">
                    Inactivo
                  </label>
                  </div>
                </div>
              </div>
              
              
              <div class="form-group">
                <div class="">
                  <button id="crear()" name="crear()" class="btn btn-success">Registrar</button>
                  <button id="modificar()" name="modificar()" class="btn btn-primary">Modificar</button>
                </div>
              </div>   
          </form>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
