
{% extends 'vista.html' %}
{% block body %}
<section class="page-section p-5">
    <div class="container-fluid "  >
        <div class="row">
            <div class=" col-lg-6 col-md-6 text-center icono1">            
                <i class="material-icons" style="font-size:200px;color:black">group</i>
            </div>       
            <div class="col-lg-4 col-md-6 bg-light p-5 form1">            
                <form>
                    <p class="text-muted mb-4">Registre su contraseña para iniciar sesión</p>

                    <div class="form-group mb-3">
                        <input id="inputPassword" type="password" placeholder="Ingrese su contraseña" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                    </div>

                    <div class="form-group mb-3">                
                        <input id="inputPassword" type="password" placeholder="ingrese nuevamente su contraseña" required="" class="form-control rounded-pill border-0 shadow-sm px-4 input1">
                    </div>
                    
                    <div class="custom-control custom-checkbox mb-3">
                        <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                        <label for="customCheck1" class="custom-control-label">Recordar contraseña</label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Ingresar</button>                
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}