
{% extends 'vista.html' %}
{% block body %}
<section class="page-section p-5">
    <div class="container-fluid "  >
        <div class="row">
            <div class=" col-lg-6 col-md-6 text-center icono1">            
                <i class="material-icons" style="font-size:200px;color:black">group</i>
            </div>       
            <div class="col-lg-4 col-md-6 bg-light p-5 form1">            
                <form method="POST">
                    <p class="text-muted mb-4">Registre su contraseña para iniciar sesión</p>

                    <div class="form-group mb-3">
                        {{ form.pws(class="form-control rounded-pill border-0 shadow-sm px-4",placeholder="Ingrese su contraseña",size=32, autofocus="" ) }}
                    </div>

                    <div class="form-group mb-3">
                        {{ form.confirmacion(class="form-control rounded-pill border-0 shadow-sm px-4 input1",placeholder="Ingrese nuevamente su contraseña",size=32) }}                
                    </div>                    
                    {{ form.asignar(class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm") }}                
          
                    </div>                    
                    {{ form.asignar(class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm") }}                

                </form>
                {% for message in get_flashed_messages() %} 
              <div class="flash">
              {{ message }}
                  <button type="button"
                   data-dismiss="alert"
                  class="close">&times;</button>
               </div>
              {% endfor %} 
            </div>
        </div>
    </div>
</section>
{% endblock %}