
body {
    margin: 0;
    padding: 0;
    background: #e0e0e0;
  }

.sidebar {
  position: fixed;
  width: 20%;
  height: 100vh;
  background:  #007bff;  
}

.head {
  width: 100%;
  height: 30%;
  background-color: #007bff;
  
}
 
