
body {
    font-family:  Arial, "Noto Sans", sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
  }

  * {
    box-sizing: border-box;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    text-align: left;

  }
  
  .flex-item-left {
    margin: 0;   
    padding: 0;
    flex: 20%;    
  }
  
  .flex-item-right {    
    padding: 10px;
    flex: 80%;
  }

  header {
    width: 100%;
    height: 30vh;
    background: #007bff;
    
  }
  
.logo {
  width: 60%;  
  color: #ffffff;  
}
 
.login {
  float: left;  
  margin-top: 80px;	
  color: white;
}
.plogin {
  float: left;
  color: white;
  margin-right: 150px;
}

.icono1{

  margin-top: 80px;
}

.form1{
  border-radius: 20px;
  
}

.sidenav {  
  height: 100%;
  width: 300px;  
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #007bff;
  overflow-x: hidden;
}


.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}


.sidenav a:hover {
  background-color: #ddd;
  color: #007bff;
}

.img {
  width: 100px;
}

