
body {
  font-family:  Arial, "Noto Sans", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}

* {
  box-sizing: border-box;
}


header {
  
  height: 30vh;
  background: #007bff;
  
}

.logo {
width: 60%;  
color: #ffffff;  
}

.login {
float: left;  
margin-top: 80px;	
color: white;
}
.plogin {
float: left;
color: white;
margin-right: 150px;
}

.icono1{
margin-top: 80px;
}

.form1{
border-radius: 20px;

}

.sidenav {   
top: 0;
left: 0;
background-color: #007bff;
}


.sidenav a {
color: white;
padding: 16px;
text-decoration: none;
display: block;
}

.sidenav a:hover {
background-color: #ddd;

}

.img {
width: 100px;
}



.fa  {

color:white;

}

.fas  {
color:white;
}

.nav-link{
  font-size:1.3vw;
  color: white;
}

@media only screen and (max-width:800px){

  .navbar{
    font-size: 2vw;
  }

  .nav-link{
      font-size:4vw;
      color: white;
    }
  
  .log {
      display: none;
      width: auto; 
      font-size: 10px;
   }

}
